body {
  background-color: rgba(71, 37, 37, 0.651);
}

form {
  position: absolute;
  padding: 40px 20px;
  left: calc(50% - 170px);
  top: 5%;

  border: 1px solid brown;
  border-radius: 5px;
  background-color: rgba(71, 37, 37, 0.751);
  color: rgba(245, 245, 245, 0.644);
  font-family: sans-serif;

  box-shadow: 1px 1px 0 rgb(100, 61, 61);
}

form > *:hover {
  cursor: pointer;
}

input,
button {
  box-shadow: 1px 0 0 brown;
  background-color: rgba(255, 99, 71, 0.295);
  font-weight: 200;
  border: thin;
}

button {
  position: absolute;
  padding: 10px 20px;
  color: inherit;

  bottom: 10px;
  left: 40%;
}
